@import url("https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Ephesis&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Stint+Ultra+Condensed&display=swap");

/* Page */
body {
  background-color: white;
  font-family: "Poppins", "Arial", sans-serif;
  color: #2d4b73;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  align-items: center;
  margin: 0 auto;
  box-sizing: border-box;
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

#marker {
  background-image: url("https://images.unsplash.com/photo-1572085313473-08e54ae31fc8?q=80&w=3024&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
  transition: width 0.4s ease, height 0.4s ease;
}

#marker:hover {
  width: 70px;
  height: 70px;
}

/* General */

a {
  text-decoration: none;
  color: #f24194;
  transition: background-color 0.3s ease;
}

a:hover {
  color: #bf8d30;
}

body {
  margin: 0;
}

/* Header  */

.header {
  position: fixed;
  max-width: max-content;
  z-index: 100;
  width: 100%;
  opacity: 0.98;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, 0.2);
  padding: 1rem;
  min-height: 42px;
  background-color: white;
  border-radius: 20px;
  top: 20px;
  left: 20px;
}

.title {
  font-size: 24px;
  font-weight: 600;
}

.info_icon {
  width: 20px;
  height: auto;
}

.info_icon:hover {
  cursor: pointer;
  opacity: 0.8;
}

/* Modal Info */

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.3);
  overflow: hidden;
}

.modal_content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 1.5rem;
  border: 1px solid #888;
  max-width: 500px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  z-index: 300;
  overflow: auto;
  max-height: 50wh;
}

.modal_main {
  max-height: 50wh;
  overflow: auto;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #2d4b73;
  text-decoration: none;
  cursor: pointer;
}

#modal-toggle {
  position: absolute;
  top: 47px;
  left: 275px;
  z-index: 200;
  opacity: 0;
  cursor: pointer;
}

#modal-toggle:checked ~ .modal {
  display: flex;
}

#modal-toggle:hover ~ .info_icon {
  opacity: 0.8;
}

.assignmentBox {
  padding: 1rem;
  border-radius: 20px;
  background-color: #dfe7ff;
}
